
/** ALTAR STORED PROCEDURE EXAMPLE - Insert_Employee **/

USE [EmploymentDb2]
GO
/****** Object:  StoredProcedure [dbo].[Insert_Employee]    Script Date: 7/18/2019 12:20:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[Insert_Employee]
	@firstname nvarchar(30),
	@lastname nvarchar(30),
	--@jobid int					-- CHANGED jobid to job / USER DOESNT KNOW ID, but knows description
	@job int
	AS
	BEGIN 
		DECLARE @jobid int;

		SELECT @job = id from Job where description = @job
		INSERT into Employee (Firstname, Lastname, JobId)   -- don't list id because its autogenerated
			VALUES (@firstname, @lastname, @jobid)
	END
	GO
	--EXEC Insert Employee @firstname = 'John', @lastname = 'Doe', @jobid =               -- USER KEYS IN JOHN & DOE / CHANGED jobid to job 
	EXEC Insert Employee @firstname = 'John', @lastname = 'Doe', @job = 'Director'
	GO